{% extends 'base.html' %}

{% block title %}Pages {% endblock %}

{% block body %}
    <!-- Page-->
      <!-- Page Header-->
      <header class="page-head bg-blog">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap bg-transparent" style="height: auto;">
          <nav class="rd-navbar rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-stick-up-offset="100px">
            <!--(data-layout='rd-navbar-fixed',data-sm-layout='rd-navbar-fullwidth', data-lg-layout=rd_navbar_data_ajuster )-->
            <div class="rd-navbar-top-panel bg-accent">
              <div class="rd-navbar-inner">
                <button class="rd-navbar-collapse-toggle toggle-original" data-rd-navbar-toggle=".list-inline" type="submit"><span></span></button><a class="fa-envelope" href="mailto:#">info@demolink.org</a><a class="fa-mobile-phone preffix-2" href="callto:#">1-800-1234-567</a>
                <ul class="list-inline pull-right toggle-original-elements">
                  <li><a class="fa-facebook" href="#"></a></li>
                  <li><a class="fa-twitter" href="#"></a></li>
                  <li><a class="fa-pinterest-p" href="#"></a></li>
                  <li><a class="fa-vimeo" href="#"></a></li>
                  <li><a class="fa-google-plus" href="#"></a></li>
                  <li><a class="fa-rss" href="#"></a></li>
                  <li class="text-left"><a class="fa-envelope" href="mailto:#">info@demolink.org</a></li>
                  <li class="text-left"><a class="fa-mobile-phone" href="callto:#">1-800-1234-567</a></li>
                </ul>
              </div>
            </div>
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-nav-wrap" type="submit"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="{{ url_for('home') }}"><img src="static/images/logo-default.png" alt=""></a></div>
              </div>
              <div class="rd-navbar-nav-wrap toggle-original-elements">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li><a href="{{ url_for('home') }}">Home</a></li>
                  <li class="rd-navbar--has-dropdown rd-navbar-submenu"><a href="{{ url_for('catalog') }}">Catalog</a><span class="rd-navbar-submenu-toggle"></span>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="movie-details.html">Movie Details</a></li>
                    </ul>
                  </li>
                  <li class=" rd-navbar--has-dropdown rd-navbar-submenu"><a href="{{ url_for('news') }}">News</a><span class="rd-navbar-submenu-toggle"></span>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="blog_archive.html">Blog Archive</a></li>
                      <li><a href="blog_post.html">Post page</a></li>
                      <li><a href="left_sidebar.html">Blog with Left Sidebar</a></li>
                    </ul>
                  </li>
                  <li class="active"><a href="{{ url_for('pages') }}">Pages</a>
                    <!-- RD Navbar Gallery-->
                    <ul class="rd-navbar-dropdown">
                      <li>
                        <ul>
                          <li><a href="{{ url_for('pages') }}">Gallery</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="{{ url_for('about') }}">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <section class="relative text-center">
          <div class="container">
            <div class="jumbotron text-center">
              <h1><small>Our Latest Images</small><span class="font-weight-bold">Gallery</span>
              </h1>
            </div>
          </div>
        </section>
      </header>
<!-- Page Content-->
      <main class="page-content">
        <section class="bg-light section-xl">
          <ol class="breadcrumb">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li>Grid Gallery</li>
          </ol>
        </section>
        <section class="section section-inset-1">
          <div class="container isotope-wrap">
            <h2>Grid Gallery with padding</h2>
            <hr>
            <div class="btn-group-isotope isotope-filters">
              <button class="btn btn-success-mod-1 btn-sm active text-capitalize" data-isotope-filter="*" data-isotope-group="gallery">All</button>
              <button class="btn btn-success-mod-1 btn-sm text-capitalize" data-isotope-filter="type-1" data-isotope-group="gallery"> Action</button>
              <button class="btn btn-success-mod-1 btn-sm text-capitalize" data-isotope-filter="type-2" data-isotope-group="gallery"> Drama</button>
              <button class="btn btn-success-mod-1 btn-sm text-capitalize" data-isotope-filter="type-3" data-isotope-group="gallery"> Thriller</button>
            </div>
            <div class="isotope offset-top-10 masonry-gallery row" data-isotope-layout="masonry" data-isotope-group="gallery" data-lightgallery="group">
              <div class="thumbnail-gallery isotope-item col-12 col-md-6 col-lg-4" data-filter="type-1"><a href="static/images/gallery-1_original.jpg" data-lightgallery="item"><img src="static/images/gallery-19.jpg" alt="">
                  <div class="caption">
                    <div class="caption-wrapper"><span class="icon icon-md icon-white fa-search-plus"></span>
                      <h4 class="text-white">Movie Trailers</h4>
                      <p class="text-white">Our website provides a wide range of movies and TV shows in various genres.</p>
                    </div>
                  </div></a></div>
              <div class="thumbnail-gallery isotope-item col-12 col-md-6 col-lg-4" data-filter="type-1"><a href="static/images/gallery-2_original.jpg" data-lightgallery="item"><img src="static/images/gallery-26.jpg" alt="">
                  <div class="caption">
                    <div class="caption-wrapper"><span class="icon icon-md icon-white fa-search-plus"></span>
                      <h4 class="text-white">Affordable prices</h4>
                      <p class="text-white">Our website provides a wide range of movies and TV shows in various genres.</p>
                    </div>
                  </div></a></div>
              <div class="thumbnail-gallery isotope-item col-12 col-md-6 col-lg-4" data-filter="type-1"><a href="static/images/gallery-5_original.jpg" data-lightgallery="item"><img src="static/images/gallery-27.jpg" alt="">
                  <div class="caption">
                    <div class="caption-wrapper"><span class="icon icon-md icon-white fa-search-plus"></span>
                      <h4 class="text-white">Upcoming Movies</h4>
                      <p class="text-white">Our website provides a wide range of movies and TV shows in various genres.</p>
                    </div>
                  </div></a></div>
              <div class="thumbnail-gallery isotope-item col-12 col-md-6 col-lg-4" data-filter="type-2"><a href="static/images/gallery-4_original.jpg" data-lightgallery="item"><img src="static/images/gallery-28.jpg" alt="">
                  <div class="caption">
                    <div class="caption-wrapper"><span class="icon icon-md icon-white fa-search-plus"></span>
                      <h4 class="text-white">TV Shows</h4>
                      <p class="text-white">Our website provides a wide range of movies and TV shows in various genres.</p>
                    </div>
                  </div></a></div>
              <div class="thumbnail-gallery isotope-item col-12 col-md-6 col-lg-4" data-filter="type-2"><a href="static/images/gallery-10_original.jpg" data-lightgallery="item"><img src="static/images/padding-grid-5.jpg" alt="">
                  <div class="caption">
                    <div class="caption-wrapper"><span class="icon icon-md icon-white fa-search-plus"></span>
                      <h4 class="text-white">Sci-Fi & Fantasy</h4>
                      <p class="text-white">Our website provides a wide range of movies and TV shows in various genres.</p>
                    </div>
                  </div></a></div>
              <div class="thumbnail-gallery isotope-item col-12 col-md-6 col-lg-4" data-filter="type-2"><a href="static/images/gallery-6_original.jpg" data-lightgallery="item"><img src="static/images/gallery-30.jpg" alt="">
                  <div class="caption">
                    <div class="caption-wrapper"><span class="icon icon-md icon-white fa-search-plus"></span>
                      <h4 class="text-white">Classic Movies</h4>
                      <p class="text-white">Our website provides a wide range of movies and TV shows in various genres.</p>
                    </div>
                  </div></a></div>
              <div class="thumbnail-gallery isotope-item col-12 col-md-6 col-lg-4" data-filter="type-2"><a href="static/images/gallery-7_original.jpg" data-lightgallery="item"><img src="static/images/gallery-31.jpg" alt="">
                  <div class="caption">
                    <div class="caption-wrapper"><span class="icon icon-md icon-white fa-search-plus"></span>
                      <h4 class="text-white">Interviews</h4>
                      <p class="text-white">Our website provides a wide range of movies and TV shows in various genres.</p>
                    </div>
                  </div></a></div>
              <div class="thumbnail-gallery isotope-item col-12 col-md-6 col-lg-4" data-filter="type-3"><a href="static/images/gallery-8_original.jpg" data-lightgallery="item"><img src="static/images/gallery-32.jpg" alt="">
                  <div class="caption">
                    <div class="caption-wrapper"><span class="icon icon-md icon-white fa-search-plus"></span>
                      <h4 class="text-white">Movie Trailers</h4>
                      <p class="text-white">Our website provides a wide range of movies and TV shows in various genres.</p>
                    </div>
                  </div></a></div>
              <div class="thumbnail-gallery isotope-item col-12 col-md-6 col-lg-4" data-filter="type-3"><a href="static/images/gallery-23_original.jpg" data-lightgallery="item"><img src="static/images/gallery-33.jpg" alt="">
                  <div class="caption">
                    <div class="caption-wrapper"><span class="icon icon-md icon-white fa-search-plus"></span>
                      <h4 class="text-white">Interviews</h4>
                      <p class="text-white">Our website provides a wide range of movies and TV shows in various genres.</p>
                    </div>
                  </div></a></div>
            </div>
          </div>
        </section>
      </main>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Java script-->
    <script src="static/js/core.min.js"></script>
    <script src="static/js/script.js"></script>
    <!-- coded by Starlight-->
{% endblock %}