{% extends 'base.html' %}

{% block title %}User {% endblock %}

{% block body %}
<div>
    <h1>Добавление записей</h1>
    <form class="container" method="POST">
        <input type="text" name="title" id="title" class="form-control"><br>
        <textarea name="intro" id="intro" class="form-control"></textarea>
        <textarea name="text" id="text" class="form-control"></textarea>
        <input type="text" class="btn btn-success" value="send" class="form-control"><br>

    </form>

</div>

{% endblock %}